---
import Dist from "../components/Dist.astro";
import Form from "../components/Form.astro";
import BasicLayout from "../layouts/BasicLayout.astro";
import Desc from "../layouts/Desc.astro";
---

<BasicLayout>
	<Desc>
		<h1>カレンダーアプリへようこそ</h1>
		<p>
			オリジナルのカレンダーを作成できるアプリです。お気に入りの写真やイラストをアップロードするだけで、月ごとのカレンダーPDFを生成できます。各月の写真を選択して、「作成」ボタンを押してください。写真はPNGまたはJPEG形式でアップロードしてください。
		</p>
		<p>
			Chrome拡張機能「Google Scholar PDF Reader」が有効化されている場合は、エラー表示が出ることがありますが、問題なく使用できます。
		</p>

	</Desc>
	<Form />
	<Dist />
</BasicLayout>
