---
import { Icon } from "astro-iconify";
---
<footer class="w-full text-center p-4">
    <div class="py-4">
        <a href="https://github.com/pullriku/calendar-app" target="_blank">
            <Icon name="uiw:github" size="24" class="inline-block mx-2"/>
        </a>
    </div>
    <p>Copyright &copy; 2024 Riku Tatsumi</p>
</footer>
