---
type Props = {
    type?: "submit" | "button" | "reset",
    disabled?: boolean,
};

const { type = "button", disabled} = Astro.props;
---

<button type={type} disabled={disabled} class="submit-button min-w-20 bg-blue-500 text-white font-bold p-2 rounded-md shadow-lg hover:scale-110 transform transition duration-300"
>
    <slot />
</button>
