---
import BlueBox from './BlueBox.astro';

type Props = {
    type?: "submit" | "button" | "reset",
    disabled?: boolean,
};

const { type = "button", disabled} = Astro.props;
---

<button type={type} disabled={disabled} class="submit-button">
    <BlueBox>
        <slot />
    </BlueBox>
</button>
